html{
    font-family:"Anaheim", Arial, sans-serif;
    overflow:visible;
}

body{
    margin:0px;
    overflow:visible;
}

/* Päis */

header{
    background-color:rgb(255, 255, 255);
    width:100%;
    top:0px;
    min-height:60px;
    position:sticky;
    padding:5px;
    margin-bottom:0px;
}

header img{
    height:70px;
    display:inline;
}

nav {
    float:right;
    margin-right:2%;
    font-size:20px;
}
@media screen and (max-width: 900px) {
    header img{
	height:50px;
    }
    nav{
	font-size:18px;
    }
    
}



nav ul{
    display:flex;
    list-style:none;
    
}


nav a{    
    color:rgb(95, 94, 94);
    text-decoration:none;
    display:inline-block;
    padding:10px;
}

nav li :hover,
nav li :active{
    color:rgb(0, 0, 0);
}

nav li:last-child a{
    border-radius: 10px;
    background-color: rgb(235, 97, 36);
    color: rgb(255, 255, 255);
}

nav li:last-child a:hover{
    background-color: rgb(178, 48, 0);
}


/* Jalus */

footer{
    background-color: rgb(95, 94, 94);
    width: 100%;
    bottom: 0px;   
    display:flex;
}

footer div{
    width:30%;
    padding-left:6%;
    padding-right:6%;
    padding-top:3%;
    color:rgb(255, 255, 255);
    
}

/* Põhitekst */


h1 {
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    padding:10px;
}

main{
    
}

main section {
    margin:5%;
    padding:5%;
}

/* Meist */

main#meist h1{
    background-image: url("https://i.chzbgr.com/full/10384483072/h960A9BBA/1-4-416-delete-home-pg-up-pg-dn-end");
    background-position-y: -400px;
    
    background-color: rgb(0, 0, 0);
    color:white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:15%;
    padding-right: 60%;
    
}

main#meist section{
    display:flex;
    margin: auto;
    max-width: 60%;
}

main#meist section img{
    width:20%;
    display:inline;
    
}

main#meist section div{
    width:60%;
    display:inline;
    padding: 5px 20px;
}


/* Galerii */
main#galerii h1{
    background-image: url("https://i.pinimg.com/736x/e2/ba/22/e2ba2245dc18952031904974cef4c68a.jpg");
    background-color: rgb(0, 0, 0);
    color:black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:15%;
    padding-right: 60%;
    
}

main#galerii section{
    text-align:center;
}
main#galerii section img{
    width:20%;
    max-height:235px;
    object-fit: cover;
    padding:10px;

}

/* Hoolitsemine */

main#hool h1{
    background-image: url("Pildid/kass2.jpg");
    background-color: rgb(0, 0, 0);
    color:black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:15%;
    padding-right: 60%;
    
}
#hool section{
    max-width:60%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;


}
/* Javascript galerii */

.galerii {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-image: url("https://varjupaik.ee/photos/suviste_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tekstiKast {
    background-color: rgba(207, 207, 207, 0.8);
    text-align: center;
    margin-left: 45%;
    margin-right: 5%;
    padding: 10px;
}

.nool {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.paremnool {
    margin-right: 5%;
}

.vasaknool {
    margin-left: 5%;
}

.nooleIkoon {
    min-width: 25px;
    min-height: 25px;
}

.nooleIkoon:hover {
    cursor: pointer;
}

.nimeTekst {
    font-weight: bold;
}

.tekstivali {
    display: none;
}
