html{
    font-family:"Anaheim", Arial, sans-serif;
    overflow:visible;
}

body{
    margin:0px;
    overflow:visible;
}

/* Päis */

header{
    background-color:rgb(255, 255, 255);
    width:100%;
    top:0px;
    min-height:60px;
    position:sticky;
    padding:5px;
    margin-bottom:0px;
}

header img{
    height:70px;
    display:inline;
}

nav {
    float:right;
    margin-right:2%;
    font-size:25px;
}
@media screen and (max-width: 900px) {
    header img{
	height:50px;
    }
    nav{
	font-size:18px;
    }
    
}



nav ul{
    display:flex;
    list-style:none;
    
}


nav a{    
    color:#5F5E5E;
    text-decoration:none;
    display:inline-block;
    padding:10px;
}

nav li :hover,
nav li :active{
    color:#000000;
}

nav li:last-child a{
    border-radius: 10px;
    background-color: #EB6124;
    color: #ffffff;
}

nav li:last-child a:hover{
    background-color: #b23000;
}


/* Jalus */

footer{
    background-color: #5F5E5E;
    width: 100%;
    bottom: 0px;   
    display:flex;
}

footer div{
    width:33%;
    padding-left:10%;
    color:white;
    
}

/* Põhitekst */


h1 {
    color:white;
    background-color:black;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    padding:10px;	  
}

main{

}

/* Meist */

main#meist h1{
    background-image: url("Pildid/Logo.png");
    background-color: black;
}

main#meist div{
    display:flex;
    margin: 5%;
}

main#meist div img{
    min-width:20%;
    display:inline;
}

main#meist div section{
    display:inline;
    padding: 5px 20px; 
}


/* Galerii */

main#galerii section{
    text-align:center;
    margin:5%;
    padding:5%;
}
